# VS Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json

# Visual Studio
.vs/
*.user
*.suo

# Compilados
bin/
obj/

# Pastas de build
build/
Debug/
Release/
x64/
x86/

# Arquivos binários e intermediários
*.exe
*.dll
*.obj
*.o
*.lib
*.pdb
*.bin

# Configurações de usuário do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Pastas do Visual Studio
.vs/

# Pastas e arquivos de Build/Binário
**/*.exe
**/*.pdb
**/*.dll
**/*.obj
**/*.ilk
**/*.idb
**/*.tlog
**/*.log
**/*.recipe

# Pastas comuns do Visual Studio
Debug/
Release/
x64/
x86/


# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Makefile binários
bin/

# Binários individuais
# Ignore generated exercise folders created by make new during tests
Ex[0-9][0-9]_* 
ex[0-9][0-9]
ex[0-9][0-9][0-9]

# Backup
*.bak
