
# Visual Studio
.vs/
*.user
*.suo

# Compilados
bin/
obj/

# Pastas de build
Debug/
Release/
x64/
x86/

# Arquivos binários e intermediários
*.exe
*.dll
*.obj
*.o
*.lib
*.pdb
*.bin

# Configurações de usuário do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Pastas do Visual Studio
.vs/
